<h1>Home Page</h1>
<p>Hello, my name is Lawrence Jones and this is the home page of my webpage. I can say that I have had some 
    expertise in programming since I've been in college. I'm an active listener, and I know how to resolve 
    conflicts. Although I'm not a big fan of writing essays, I could say I have a little bit of expertise when 
    it comes to writing.
</p>
